.landing-bg2 {
    background-image: url('/images/malaysiastreet.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 260px;
    overflow: hidden;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.landing-bg2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 64, 160, 0.8);
    z-index: 0;
}

.landing-bg2>* {
    position: relative;
    z-index: 1;
}

/* Title */
.main-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.sub-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    word-spacing: 10px;
}

.title {
    color: #0021a4;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rental-img {
    width: 320px;
    height: auto;
    border-radius: 12px;
    margin: 50px;
    margin-left: 40px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}


.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.btn .material-symbols-outlined {
    vertical-align: text-bottom;
    margin-left: 6px;
}


/*vehicle page */
.hero {
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    height: 310px;
    border-bottom-left-radius: 180px;
    border-bottom-right-radius: 180px;
    overflow: hidden;
}

.hero img {
    width: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-92%, -50%);
    color: rgb(255, 255, 255);
    background-color: rgba(9, 0, 90, 0.5);
    z-index: 2;
}

.hero-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(40%, -50%);
    color: rgb(0, 0, 0);
    background-color: rgba(255, 242, 0, 0.5);
    z-index: 2;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}