.card-vehicle-list {
    background: transparent !important;
    border-radius: 12px !important;
    padding: 16px !important;
    border: none !important;

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.card-vehicle-list.show {
    opacity: 1;
    transform: translateY(0);
}

/* Vehicle colors */
.vehicle-black {
    background: linear-gradient(135deg, #111827, #374151) !important;
    color: white;
}

.vehicle-white {
    background: linear-gradient(135deg, #ffffff, #e2e8ed) !important;
}

.vehicle-silver {
    background: linear-gradient(135deg, #9ea1a5, #dadee1) !important;
}


.vehicle-grey {
    background: linear-gradient(135deg, #828282, #929699) !important;
}

.vehicle-red {
    background: linear-gradient(135deg, #dc2626, #fcacac) !important;
}

.vehicle-blue {
    background: linear-gradient(135deg, #2563eb, #accefb) !important;
}

.vehicle-gold {
    background: linear-gradient(135deg, #aea21b, #f8d451) !important;
}